<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PivotalTrackerPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PivotalPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PivotalTrackerPlugin.Properties.Settings>
            <setting name="ApiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://www.pivotaltracker.com/services/v5/</value>
            </setting>
            <setting name="StoryUrl" serializeAs="String">
                <value>https://www.pivotaltracker.com/story/show/%s</value>
            </setting>
            <setting name="MaxLength" serializeAs="String">
                <value>256</value>
            </setting>
        </PivotalTrackerPlugin.Properties.Settings>
        <PivotalPlugin.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value/>
            </setting>
        </PivotalPlugin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
